<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Album example · Bootstrap</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="css/album.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">2019 IPOs</h1>
        <p class="lead text-muted">Top 10 IPOs that filed in 2019. Companies that went public and what the street had to
          say?</p>
        <p>
          <a href="index.html" class="btn btn-primary my-2">Home</a>
          <a href="map.html" class="btn btn-secondary my-2">Map</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4" data-aos="fade-in">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Company Logo</title>
                <image
                  href="https://www.eleconomista.com.mx/__export/1555970996373/sites/eleconomista/img/2019/04/22/beyond_meat_inc_facebook_crop1555970532099.png_673822677.png"
                  x="100" y="100" height="100px" width="225px" />
              </svg>
              <div class="card-body">
                <p class="card-text">Company: Beyound Meat (BYND); Location: El Segundo, CA; Employees: 257; IPO Date:
                  5/2/2019; Stock IPO: $65.75 : Stock Current: $151.66</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-in">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Company Logo</title>
                <image
                  href="https://s.yimg.com/ny/api/res/1.2/7iZPeCV3w8oBMitsL_ViMQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9NjAwO2g9NDAwO2lsPXBsYW5l/https://cdn1.benzinga.com/files/imagecache/600x400xUP/images/story/2012/elastic-logo-v-full_color.jpg"
                  x="100" y="100" height="125px" width="200px" />
              </svg>
              <div class="card-body">
                <p class="card-text">Company: Elastic N.V. (ESTC); Location: Mountain View, CA; Employees: 1,442; IPO
                  Date: 10/5/2018; Stock IPO: $70.00 : Stock Current: $82.90</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4"data-aos="fade-in">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Company Logo</title>
                <image href="http://quickfics.facultyinnovate.utexas.edu/wp-content/uploads/2018/02/zoom-logo.jpg"
                  x="100" y="100" height="125px" width="200px" />
              </svg>
              <div class="card-body">
                <p class="card-text">Company: Zoom Communications Video (ZM); Location: San Jose, CA; Employees: 2,240;
                  IPO Date: 4/18/2019; Stock IPO: $62.00 : Stock Current: $76.04</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4"data-aos="fade-in">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Company Logo</title>
                <image
                  href="https://media.licdn.com/dms/image/C560BAQEMTsWLZKNqWg/company-logo_200_200/0?e=2159024400&v=beta&t=4u_dR4V-s3S5sxRnj5Q5KKvvbE-b_VOfjoMbiHBhWI4"
                  x="100" y="100" height="125px" width="200px" />
              </svg>
              <div class="card-body">
                <p class="card-text">Company: Anaplan (PLAN); Location: San Francisco, CA; Employees: 1,299; IPO Date:
                  10/12/2018; Stock IPO: $24.30 : Stock Current: $46.91</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
            <div class="col-md-4"data-aos="fade-in">
              <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                  aria-label="Placeholder: Thumbnail">
                  <title>Company Logo</title>
                  <image href="https://pbs.twimg.com/profile_images/1006604522871930880/zcpK-SEl_400x400.jpg" x="100"
                    y="100" height="125px" width="200px" />
                </svg>
                <div class="card-body">
                  <p class="card-text">Company: 10x Genomics, Inc. (TXG); Location: Pleasanton, CA; Employees: 500; IPO
                    Date: 9/12/2019; Stock IPO: $52.75 : Stock Current: $51.03</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
              <div class="col-md-4"data-aos="fade-in">
                <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                    <title>Company Logo</title>
                    <image href="https://pbs.twimg.com/profile_images/1006604522871930880/zcpK-SEl_400x400.jpg" x="100"
                      y="100" height="125px" width="200px" />
                  </svg>
                  <div class="card-body">
                    <p class="card-text">Company: 10x Genomics, Inc. (TXG); Location: Pleasanton, CA; Employees: 500;
                      IPO Date: 9/12/2019; Stock IPO: $52.75 : Stock Current: $51.03</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>

                <div class="col-md-4"data-aos="fade-in">
                  <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                      role="img" aria-label="Placeholder: Thumbnail">
                      <title>Company Logo</title>
                      <image href="https://bizmagsb.com/wp-content/uploads/2019/04/red-river-bank.jpg" x="100" y="100"
                        height="125px" width="200px" />
                    </svg>
                    <div class="card-body">
                      <p class="card-text">Company: Red River BancShares, Inc. (RRBI); Location: Alexandria, LA;
                        Employees: 325; IPO Date: 5/3/2019; Stock IPO: $50.25 : Stock Current: $43.41</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4"data-aos="fade-in">
                    <div class="card mb-4 shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                          dy=".3em">Thumbnail</text>
                      </svg>
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4"data-aos="fade-in">
                      <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                          xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                          role="img" aria-label="Placeholder: Thumbnail">
                          <title>Placeholder</title>
                          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="index.html">Back to home</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
        href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

</html>